@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;0,800;1,500&family=Signika:wght@400;500;700&display=swap');

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Signika', sans-serif; 
*/
body {
    padding-inline: 0.5in;
    padding-block-start: 2em;
    margin: auto;
    max-width: 8.5in;
    min-width: 8.5in;
    max-height: 11in;
    font-size: 12px;
    background-color: rgb(255, 250, 228);
}

.personal-info {
    text-align: center;
    margin-bottom: 0;
}

h1 {
    font-family: 'Signika', sans-serif;
    text-align: center;
    font-size: 22pt;
    letter-spacing: 105%;
}

h2 {
    font-family: 'Signika', sans-serif;
    font-size: 16pt;
    margin-block-start: 0;
}

h3 {
    font-size: 14pt;
    width: fit-content;
}

h4 {
    font-size: 13pt;
}

.puzzle-piece {
    width: 1.6em;
    margin-block: .3em;
}

.work-history {
    width: 90%;
    align-self: flex-end;
    margin-inline-end: 2em;
}

.education {
    align-self: flex-end;
    margin-inline-end: 2em;
    width: 90%;
    margin-block-start: 0em;
}

.skill-stack {
    margin-inline-start: 2em;
    margin-inline-end: .5em;
    margin-block: 1em;
    width: 180px;
    height: fit-content;
}

.push-right {
    margin-inline-start: auto;
    text-align: end;
}

.profs {
    font-size: 10px;
    margin-block: .3em;
}

.extra {
    width: 80%;
    align-self: flex-end;
    margin-inline-end: 2em;
    margin-block:.1em;
}

.five {
    background-image: url("ducky.png");
    background-size: 12px;
    background-repeat: repeat-x;
    width:60px;
 }

.four {
    background-image: url("ducky.png");
    background-size: 12px;
    background-repeat: repeat-x;
    width:48px;
    /* background-position: ; */
}

.three {
    background-image: url("ducky.png");
    background-size: 12px;
    background-repeat: repeat-x;
    width:36px;
 }
.two {
    background-image: url("ducky.png");
    background-size: 12px;
    background-repeat: repeat-x;
    width:24px;
 }


hr {
    margin-block: 0;
}

ul {
    padding-Inline: 0;
}

li {
    list-style: none;
}